footer{
    background-color: var(--colorD);
    text-align: center;
    padding: 15% 0;
    border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    margin-top: 25%;
}
footer p span{
    color: var(--colorA);
}

/********************************************************************************************************/
/********************************************************************************************************/

/********************  720 X 1024 ****************************/
@media (min-width: 720px){
    /*OK*/
}
/********************  1024 X 1366****************************/
@media (min-width: 1024px){
    footer{
        padding: 10% 0;
        margin-top: 10%;
    }
}

/********************  1280 X 800***************************/
@media (min-width: 1280px){
    /*OK*/
}
/********************  1440 X ...***************************/
@media (min-width: 1440px){
    /*OK*/
}
/********************  1600 X ...***************************/
@media (min-width: 1600px){
    footer{
        padding: 8% 0;
        margin-top: 8%;
    }
}