.all{
    width: 90%;
    margin: auto;
}
.all h1{
    text-align: center;
}
#registrar a{
    text-decoration: none;
    color: var(--colorD);
}
#contLogin{
    margin-top: 15%;
    display:flex;
    flex-direction: column;
    
    
    text-align: center;
    background-color: var(--colorD);
    padding: 2% 0;
    border-radius: 5%;
    border: 1px solid black;
}
#contLogin #imagen{
    margin: 5% 0;
}
#contLogin #imagen img{
    width: 30%;
    background-color: bisque;
    padding: 5%;
    border-radius: 50%;
}
.inputBlock{
    margin: auto;
    padding: 1% 5%;
    margin: 1% 15%;
} 
#registrar p{
    background-color: aquamarine; 
    padding: 5%;
    border-bottom:3px solid azure;
}


/********************************************************************************************************/
/********************************************************************************************************/

/********************  720 X 1024 ****************************/
@media (min-width: 720px){
    /*ok*/
}
/********************  1024 X 1366****************************/
@media (min-width: 1024px){
    .all{
        width: 80%;
    }
}
/********************  1280 X 800***************************//* mouse*/
@media (min-width: 1280px){
    .all{
        width: 70%;
    }
    #contLogin{
        margin-top: 5%;
    }
}
/********************  1440 X ...***************************/
@media (min-width: 1440px){
    .all{
        width: 45%;
    }
    #contLogin{
        margin-top: 10%;
    }
}
/********************  1600 X ...***************************/
@media (min-width: 1600px){
    .all{
        width: 30%;
    }
}